.feature-group {
  padding: $spacing-unit-lg 0;

  .flex-row {
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-wrap: wrap;
    }

    &::before,
    &::after {
      content: none;
    }
  }

  .col-md-6 {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-bottom: $spacing-unit-md;
    }
  }
}

.feature {
  position: relative;
  height: 100%;
  margin-bottom: $spacing-unit-sm;
  padding: 10px 10px 30px;
  background-color: $color-white;
  font-size: 20px;

  @media (min-width: $screen-md-max) {
    margin-bottom: 30px;
  }
}

.feature-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 142px;
  margin: 0 auto;
  background-color: $color-gray-medium;
  overflow: hidden;
}

.feature-title {
  @include accent-font-regular;
  $lt-color: #380d75;
  color: $lt-color;
  font-size: 24px;

  .js-hover & {
    text-decoration: $link-hover-decoration;
  }
}

.feature-description {
  margin-bottom: 16px;
  font-weight: 300;
}

.feature-more {
  @include position(absolute, null 10px 12px);
  display: flex;
  color: $color-blue-link;

  &:hover,
  .js-hover & {
    text-decoration: none;
  }

  &::after {
    display: inline-block;
    margin-top: 2px;
    margin-left: 4px;
    content: "\2192";
  }
}
