---
layout: default
title: GitLab + BCBS - Develop a Faster DevOps lifecycle
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab + BCBS Webinar - Develop a Faster DevSecOps lifecycle
        %h2.page-subtitle Enterprise DevSecOps for Insurance & Healthcare, exclusively for BCBS

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 June 7th, 11am CST
            %p Join Jim Neumyer, Technical Architect, Frameworks and Tools at HM Health Solutions; Matt Henson, Manager, Platform Services and Release Engineering at Cambia Health Solutions; with GitLab experts Joel Krooswyk and John Woods to gain insights into your DevSecOps processes and ultimately develop a faster DevSecOps lifecycle with GitLab.
            %br
            %p This 1-hour webinar is limited to BCBS to share and collaborate on DevSecOps successes and challenges.

          .content-section
            %h3 In this session, we'll cover:
            %ul
              %li Why DevSecOps? Innovate faster - Amazon, JP Morgan, Berkshire Hathaway are moving into Healthcare
              %li What BCBS companies are using GitLab? 
              %li GitLab's approach, advantages and features of fully integrated DevSecOps
              %li GitLab @ HM Solutions - current deployment; usage & workflows; successes and challenges
              %li GitLab @ Cambia Solutions - current deployment; usage & workflows; successes and challenges
              %li Share your DevSecOps Journey
              %li Q&A
              

        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
