.gke-promo-banner.animated
  .gke-promo-banner-content
    = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
    %p 
      Deploy to Google Cloud Platform using GitLab. Set up scalable deploy environments with a few clicks and unlock auto-configured DevOps pipelines.
      %a{href: '/google-cloud-platform/'}Check it out and get a $500 GCP credit.
